
:root{
  --yellow:linear-gradient(180deg,#F8D49A -146.42%,#FAD79D -46%);
  --orange:#fca61f;
  --black:#242d49;
  --gray:#788097;
  --purple:linear-gradient(180deg,#BB67FF 0%,#C484F3 100%);
  --glass:rgba(225,225,225,0.54);
  --boxShadow:0px 19px 60px rgb(0 0 0 / 8%);
  --activeItem:#f799a354;
}
.App{
  font-family: 'Inter', sans-serif;
  background: linear-gradient(106.37deg,#ffe1bc 29.63%,#ffcfd1 51.55%,#f3c6f1 90.85);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AppGlass{
  display: grid;
  width:97%;
  height: 97%;
  background-color: rgb(250, 250, 245);
  border-radius: 2rem;
  overflow: hidden;
  grid-template-columns: 11rem auto 20rem;


}